/* Custom styles for FullCalendar */

/* Event title size */
.fc-event-title, .fc-event-time {
    font-size: 12px; /* Adjust the size as needed */
  }
  
  /* Day number size in the month view */
  .fc-daygrid-day-number {
    font-size: 11px; /* Adjust the size as needed */
  }
  
  /* Header title size */
  .fc-toolbar-title, .fc-toolbar-chunk {
    font-size: 12px; /* Adjust the size as needed */
  }
  /* CSS file */
.fc-day-past {
    
    background-color:white; 
    color: #e5e7eb; 
    pointer-events: none; 
  }
  .highlight-date {
    background-color: #ededed;
     /* Or any other highlight color */
  }

.fc-event {
    font-size: 16px; /* Adjust as needed */
  }
  
  /* Smaller font size for medium screens */
  @media (max-width: 1024px) {
    .fc-event {
      font-size: 14px; /* Adjust as needed */
    }
  }
  
  /* Even smaller font size for small screens */
  @media (max-width: 768px) {
    .fc-event {
      font-size: 12px; /* Adjust as needed */
    }
  }
  
  /* Smallest font size for extra small screens */
  @media (max-width: 480px) {
    .fc-event {
      font-size: 10px; /* Adjust as needed */
    }
  }
.fc-day-other{
    visibility: hidden;
}
.fc-col-header-cell-cushion{
    color:black;
}